In [1]:
# https://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html?highlight=autoreload
%load_ext autoreload

%autoreload 2

In [2]:
import gc
import numpy as np
import os
import pandas as pd
import sqlalchemy

In [1]:
%%bash
time %E mongoimport --db imdb --collection people --type tsv --file ./mongodb/name.basics.tsv --headerline
time %E mongoimport --db imdb --collection episodes --type tsv --file ./mongodb/title.episode.tsv --headerline
time %E mongoimport --db imdb --collection principals --type tsv --file ./mongodb/title.principals.tsv --headerline
time %E mongoimport --db imdb --collection titles --type json --file ./mongodb/imdb.titles.json

2019-02-23T16:51:48.093-0500	Failed: open ./imdb/name.basics.tsv: no such file or directory
2019-02-23T16:51:48.093-0500	imported 0 documents
2019-02-23T16:51:48.099-0500	Failed: open ./imdb/title.episode.tsv: no such file or directory
2019-02-23T16:51:48.099-0500	imported 0 documents
2019-02-23T16:51:48.104-0500	Failed: open ./imdb/title.principals.tsv: no such file or directory
2019-02-23T16:51:48.104-0500	imported 0 documents
2019-02-23T16:51:48.164-0500	connected to: localhost
2019-02-23T16:51:51.110-0500	[........................] imdb.titles	70.0MB/2.01GB (3.4%)
2019-02-23T16:51:54.110-0500	[#.......................] imdb.titles	129MB/2.01GB (6.3%)
2019-02-23T16:51:57.110-0500	[#.......................] imdb.titles	160MB/2.01GB (7.8%)
2019-02-23T16:52:00.110-0500	[##......................] imdb.titles	203MB/2.01GB (9.9%)
2019-02-23T16:52:03.111-0500	[##......................] imdb.titles	243MB/2.01GB (11.8%)
2019-02-23T16:52:06.110-0500	[###.....................] imdb.titles	279MB/2.01GB (13.6%)
2019-02-23T16:52:09.110-0500	[###.....................] imdb.titles	314MB/2.01GB (15.3%)
2019-02-23T16:52:12.110-0500	[####....................] imdb.titles	351MB/2.01GB (17.1%)
2019-02-23T16:52:15.110-0500	[####....................] imdb.titles	384MB/2.01GB (18.7%)
2019-02-23T16:52:18.110-0500	[####....................] imdb.titles	413MB/2.01GB (20.1%)
2019-02-23T16:52:21.110-0500	[#####...................] imdb.titles	437MB/2.01GB (21.3%)
2019-02-23T16:52:24.110-0500	[#####...................] imdb.titles	462MB/2.01GB (22.5%)
2019-02-23T16:52:27.110-0500	[#####...................] imdb.titles	487MB/2.01GB (23.7%)
2019-02-23T16:52:30.110-0500	[######..................] imdb.titles	514MB/2.01GB (25.0%)
2019-02-23T16:52:33.110-0500	[######..................] imdb.titles	542MB/2.01GB (26.4%)
2019-02-23T16:52:36.110-0500	[######..................] imdb.titles	558MB/2.01GB (27.1%)
2019-02-23T16:52:39.110-0500	[######..................] imdb.titles	585MB/2.01GB (28.4%)
2019-02-23T16:52:42.110-0500	[#######.................] imdb.titles	611MB/2.01GB (29.7%)
2019-02-23T16:52:45.110-0500	[#######.................] imdb.titles	635MB/2.01GB (30.9%)
2019-02-23T16:52:48.113-0500	[#######.................] imdb.titles	659MB/2.01GB (32.0%)
2019-02-23T16:52:51.111-0500	[#######.................] imdb.titles	684MB/2.01GB (33.2%)
2019-02-23T16:52:54.110-0500	[########................] imdb.titles	706MB/2.01GB (34.3%)
2019-02-23T16:52:57.112-0500	[########................] imdb.titles	732MB/2.01GB (35.6%)
2019-02-23T16:53:00.123-0500	[########................] imdb.titles	755MB/2.01GB (36.7%)
2019-02-23T16:53:03.110-0500	[#########...............] imdb.titles	779MB/2.01GB (37.9%)
2019-02-23T16:53:06.110-0500	[#########...............] imdb.titles	803MB/2.01GB (39.0%)
2019-02-23T16:53:09.112-0500	[#########...............] imdb.titles	826MB/2.01GB (40.1%)
2019-02-23T16:53:12.110-0500	[#########...............] imdb.titles	850MB/2.01GB (41.3%)
2019-02-23T16:53:15.110-0500	[##########..............] imdb.titles	872MB/2.01GB (42.4%)
2019-02-23T16:53:18.115-0500	[##########..............] imdb.titles	896MB/2.01GB (43.6%)
2019-02-23T16:53:21.110-0500	[##########..............] imdb.titles	915MB/2.01GB (44.5%)
2019-02-23T16:53:24.111-0500	[##########..............] imdb.titles	938MB/2.01GB (45.6%)
2019-02-23T16:53:27.110-0500	[###########.............] imdb.titles	961MB/2.01GB (46.7%)
2019-02-23T16:53:30.122-0500	[###########.............] imdb.titles	981MB/2.01GB (47.7%)
2019-02-23T16:53:33.110-0500	[###########.............] imdb.titles	1001MB/2.01GB (48.7%)
2019-02-23T16:53:36.116-0500	[###########.............] imdb.titles	1023MB/2.01GB (49.7%)
2019-02-23T16:53:39.110-0500	[############............] imdb.titles	1.01GB/2.01GB (50.2%)
2019-02-23T16:53:42.110-0500	[############............] imdb.titles	1.02GB/2.01GB (51.0%)
2019-02-23T16:53:45.110-0500	[############............] imdb.titles	1.04GB/2.01GB (52.0%)
2019-02-23T16:53:48.114-0500	[############............] imdb.titles	1.06GB/2.01GB (53.0%)
2019-02-23T16:53:51.110-0500	[############............] imdb.titles	1.09GB/2.01GB (54.0%)
2019-02-23T16:53:54.110-0500	[#############...........] imdb.titles	1.11GB/2.01GB (55.1%)
2019-02-23T16:53:57.110-0500	[#############...........] imdb.titles	1.13GB/2.01GB (56.1%)
2019-02-23T16:54:00.110-0500	[#############...........] imdb.titles	1.15GB/2.01GB (57.3%)
2019-02-23T16:54:03.110-0500	[##############..........] imdb.titles	1.17GB/2.01GB (58.4%)
2019-02-23T16:54:06.110-0500	[##############..........] imdb.titles	1.20GB/2.01GB (59.6%)
2019-02-23T16:54:09.110-0500	[##############..........] imdb.titles	1.22GB/2.01GB (60.6%)
2019-02-23T16:54:12.110-0500	[##############..........] imdb.titles	1.24GB/2.01GB (61.8%)
2019-02-23T16:54:15.110-0500	[###############.........] imdb.titles	1.26GB/2.01GB (62.9%)
2019-02-23T16:54:18.110-0500	[###############.........] imdb.titles	1.29GB/2.01GB (64.1%)
2019-02-23T16:54:21.111-0500	[###############.........] imdb.titles	1.31GB/2.01GB (65.3%)
2019-02-23T16:54:24.110-0500	[###############.........] imdb.titles	1.33GB/2.01GB (66.3%)
2019-02-23T16:54:27.110-0500	[################........] imdb.titles	1.35GB/2.01GB (67.3%)
2019-02-23T16:54:30.110-0500	[################........] imdb.titles	1.38GB/2.01GB (68.5%)
2019-02-23T16:54:33.112-0500	[################........] imdb.titles	1.40GB/2.01GB (69.5%)
2019-02-23T16:54:36.110-0500	[################........] imdb.titles	1.42GB/2.01GB (70.6%)
2019-02-23T16:54:39.118-0500	[#################.......] imdb.titles	1.44GB/2.01GB (71.8%)
2019-02-23T16:54:42.113-0500	[#################.......] imdb.titles	1.46GB/2.01GB (72.5%)
2019-02-23T16:54:45.110-0500	[#################.......] imdb.titles	1.48GB/2.01GB (73.8%)
2019-02-23T16:54:48.110-0500	[#################.......] imdb.titles	1.50GB/2.01GB (74.9%)
2019-02-23T16:54:51.110-0500	[##################......] imdb.titles	1.53GB/2.01GB (76.0%)
2019-02-23T16:54:54.110-0500	[##################......] imdb.titles	1.55GB/2.01GB (77.2%)
2019-02-23T16:54:57.110-0500	[##################......] imdb.titles	1.57GB/2.01GB (78.3%)
2019-02-23T16:55:00.110-0500	[###################.....] imdb.titles	1.59GB/2.01GB (79.2%)
2019-02-23T16:55:03.110-0500	[###################.....] imdb.titles	1.62GB/2.01GB (80.4%)
2019-02-23T16:55:06.110-0500	[###################.....] imdb.titles	1.64GB/2.01GB (81.5%)
2019-02-23T16:55:09.110-0500	[###################.....] imdb.titles	1.66GB/2.01GB (82.7%)
2019-02-23T16:55:12.110-0500	[####################....] imdb.titles	1.68GB/2.01GB (83.8%)
2019-02-23T16:55:15.110-0500	[####################....] imdb.titles	1.70GB/2.01GB (84.8%)
2019-02-23T16:55:18.111-0500	[####################....] imdb.titles	1.73GB/2.01GB (86.0%)
2019-02-23T16:55:21.110-0500	[####################....] imdb.titles	1.75GB/2.01GB (87.0%)
2019-02-23T16:55:24.110-0500	[#####################...] imdb.titles	1.77GB/2.01GB (88.0%)
2019-02-23T16:55:27.110-0500	[#####################...] imdb.titles	1.79GB/2.01GB (89.0%)
2019-02-23T16:55:30.110-0500	[#####################...] imdb.titles	1.81GB/2.01GB (90.0%)
2019-02-23T16:55:33.110-0500	[#####################...] imdb.titles	1.83GB/2.01GB (90.9%)
2019-02-23T16:55:36.110-0500	[######################..] imdb.titles	1.85GB/2.01GB (92.0%)
2019-02-23T16:55:39.115-0500	[######################..] imdb.titles	1.86GB/2.01GB (92.8%)
2019-02-23T16:55:42.110-0500	[######################..] imdb.titles	1.88GB/2.01GB (93.7%)
2019-02-23T16:55:45.110-0500	[######################..] imdb.titles	1.90GB/2.01GB (94.5%)
2019-02-23T16:55:48.113-0500	[######################..] imdb.titles	1.92GB/2.01GB (95.5%)
2019-02-23T16:55:51.112-0500	[#######################.] imdb.titles	1.94GB/2.01GB (96.5%)
2019-02-23T16:55:54.110-0500	[#######################.] imdb.titles	1.96GB/2.01GB (97.4%)
2019-02-23T16:55:57.110-0500	[#######################.] imdb.titles	1.98GB/2.01GB (98.4%)
2019-02-23T16:56:00.111-0500	[#######################.] imdb.titles	2.00GB/2.01GB (99.5%)
2019-02-23T16:56:02.097-0500	[########################] imdb.titles	2.01GB/2.01GB (100.0%)
2019-02-23T16:56:02.097-0500	imported 5465783 documents

In [4]:
mysql_url = 'mysql+pymysql://imdb:imdb@localhost:3306/imdb'
engine = sqlalchemy.create_engine(mysql_url)

def df_to_mysql(df, table_name, delete_before=True):
    
    if delete_before:
        # Delete table before adding new rows
        connection = engine.connect()
        trans = connection.begin()
        connection.execute('SET FOREIGN_KEY_CHECKS = 0;')
        stmt = 'TRUNCATE {};'.format(table_name)
        print(stmt)
        connection.execute(stmt)
        connection.execute('SET FOREIGN_KEY_CHECKS = 1;')
        trans.commit()
        connection.close()
        print('Table {} deleted'.format(table_name))
        
    df.to_sql(table_name, con=engine, if_exists='append', index=False, chunksize=10**4)

# Name_basics

In [5]:
name_basics = imdb.name_basics_df()

In [6]:
name_basics_pre = name_basics.copy()

# nconst to int
name_basics_pre['nconst'] = transform.nconst_to_float(name_basics_pre['nconst'])

# Preserve nconst
name_basics_nconst = name_basics_pre['nconst'].copy()

name_basics_pre.info(memory_usage='deep')
name_basics_pre.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9004834 entries, 0 to 9004833
Data columns (total 6 columns):
nconst               uint32
primaryName          object
birthYear            float64
deathYear            float64
primaryProfession    object
knownForTitles       object
dtypes: float64(2), object(3), uint32(1)
memory usage: 1.9 GB

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,1,Fred Astaire,1899.0,1987.0,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308"
1,2,Lauren Bacall,1924.0,2014.0,"actress,soundtrack","tt0037382,tt0038355,tt0117057,tt0071877"
2,3,Brigitte Bardot,1934.0,NaN,"actress,soundtrack,producer","tt0059956,tt0049189,tt0054452,tt0057345"
3,4,John Belushi,1949.0,1982.0,"actor,writer,soundtrack","tt0078723,tt0080455,tt0077975,tt0072562"
4,5,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0050986,tt0083922,tt0050976,tt0060827"

In [65]:
%%timeit -n 1 -r 1

df_to_mysql(name_basics_pre, 'name_basics')

#save_csv(name_basics_pre, 'name_basics.csv')

Table name_basics deleted
5min 3s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [7]:
del name_basics
del name_basics_pre
gc.collect()

0

# title_basics

In [8]:
title_basics = imdb.title_basics_df()

In [9]:
title_basics_pre = title_basics.copy()

title_basics_pre['tconst'] = transform.tconst_to_float(title_basics_pre['tconst'])

# Preserve tconst for future filterings
title_basics_tconst = title_basics_pre['tconst'].copy()

title_basics_pre.info()
title_basics_pre.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5465783 entries, 0 to 5465782
Data columns (total 9 columns):
tconst            uint32
titleType         object
primaryTitle      object
originalTitle     object
isAdult           int64
startYear         float64
endYear           float64
runtimeMinutes    float64
genres            object
dtypes: float64(3), int64(1), object(4), uint32(1)
memory usage: 354.5+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,1,short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short"
1,2,short,Le clown et ses chiens,Le clown et ses chiens,0,1892.0,NaN,5.0,"Animation,Short"
2,3,short,Pauvre Pierrot,Pauvre Pierrot,0,1892.0,NaN,4.0,"Animation,Comedy,Romance"
3,4,short,Un bon bock,Un bon bock,0,1892.0,NaN,NaN,"Animation,Short"
4,5,short,Blacksmith Scene,Blacksmith Scene,0,1893.0,NaN,1.0,"Comedy,Short"

In [69]:
%%timeit -n 1 -r 1

df_to_mysql(title_basics_pre, 'title_basics')

# save_csv(title_basics_pre, 'title_basics.csv')

Table title_basics deleted
4min 11s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [10]:
del title_basics
del title_basics_pre
gc.collect()

20

# title_akas

In [7]:
title_akas = imdb.title_akas_df()
title_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0.0
1,tt0000001,2,Карменсита,RU,NaN,NaN,NaN,0.0
2,tt0000001,3,Carmencita,US,NaN,NaN,NaN,0.0
3,tt0000001,4,Carmencita,NaN,NaN,original,NaN,1.0
4,tt0000002,1,Le clown et ses chiens,NaN,NaN,original,NaN,1.0

In [8]:
title_akas_pre = title_akas.copy()
title_akas_pre['titleId'] = transform.tconst_to_float(title_akas_pre['titleId'])
print('Shape', title_akas_pre.shape)

# Remove title_akas for non-existing# title_basic
title_akas_pre = title_akas_pre[title_akas_pre['titleId'].isin(title_basics_pre['tconst'])]

print('Shape', title_akas_pre.shape)
title_akas_pre.head()

Shape (3699803, 8)
Shape (3695781, 8)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,1.0,1,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0.0
1,1.0,2,Карменсита,RU,NaN,NaN,NaN,0.0
2,1.0,3,Carmencita,US,NaN,NaN,NaN,0.0
3,1.0,4,Carmencita,NaN,NaN,original,NaN,1.0
4,2.0,1,Le clown et ses chiens,NaN,NaN,original,NaN,1.0

In [13]:
%%timeit -n 1 -r 1

df_to_mysql(title_akas_pre, 'title_akas')

#save_csv(title_akas_pre, 'title_akas.csv')

TRUNCATE title_akas;
Table title_akas deleted
TRUNCATE title_akas;
Table title_akas deleted
TRUNCATE title_akas;
Table title_akas deleted
2min 23s ± 0 ns per loop (mean ± std. dev. of 1 run, 3 loops each)

# title_crew

In [9]:
title_crew = imdb.title_crew_df()

In [10]:
title_crew_director = title_crew[['tconst', 'directors']].copy()
title_crew_writer = title_crew[['tconst', 'writers']].copy()

# Drop rows with null values
title_crew_director.dropna(inplace=True)

title_crew_writer.dropna(inplace=True)

# Expand rows based on directors and writers list
title_crew_director['directors'] = title_crew_director['directors'].astype('str')
title_crew_director = transform.expand_rows_using_repeat(title_crew_director, 'directors', ',')
title_crew_director.rename(index=str, columns={"directors": "director"}, inplace=True)

title_crew_writer['writers'] = title_crew_writer['writers'].astype('str')
title_crew_writer = transform.expand_rows_using_repeat(title_crew_writer, 'writers', ',')
title_crew_writer.rename(index=str, columns={"writers": "writer"}, inplace=True)

# Transform identifiers
title_crew_director['tconst'] = transform.tconst_to_float(title_crew_director['tconst'])
title_crew_director['director'] = transform.nconst_to_float(title_crew_director['director'])

title_crew_writer['tconst'] = transform.tconst_to_float(title_crew_writer['tconst'])
title_crew_writer['writer'] = transform.nconst_to_float(title_crew_writer['writer'])

# Remove rows for non-existing titles or names
title_crew_director = title_crew_director[title_crew_director['director'].isin(name_basics_nconst)]
title_crew_writer = title_crew_writer[title_crew_writer['writer'].isin(name_basics_nconst)]


title_crew_director.info(memory_usage='deep')
title_crew_director.head()

<class 'pandas.core.frame.DataFrame'>
Index: 4073178 entries, 0 to 4073188
Data columns (total 2 columns):
tconst      uint32
director    uint32
dtypes: uint32(2)
memory usage: 278.6 MB

   tconst  director
0       1      5690
1       2    721526
2       3    721526
3       4    721526
4       5      5690
5       6      5690
6       7      5690
7       7    374658
8       8      5690
9       9     85156

In [11]:
title_crew_writer.info(memory_usage='deep')
title_crew_writer.head()

<class 'pandas.core.frame.DataFrame'>
Index: 6239566 entries, 0 to 6239588
Data columns (total 2 columns):
tconst    uint32
writer    uint32
dtypes: uint32(2)
memory usage: 427.4 MB

   tconst  writer
0       9   85156
1      36  410331
2      76  410331
3      91  617588
4     108  410331
5     109  410331
6     110  410331
7     111  410331
8     112  410331
9     113  410331

In [14]:
%%timeit -n 1 -r 1

df_to_mysql(title_crew_director, 'title_crew_director')

TRUNCATE title_crew_director;
Table title_crew_director deleted
25min 25s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [15]:
%%timeit -n 1 -r 1

df_to_mysql(title_crew_writer, 'title_crew_writer')

TRUNCATE title_crew_writer;
Table title_crew_writer deleted
9min 57s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [17]:
del title_crew_director
del title_crew_writer
gc.collect()

NameError: name 'title_crew' is not defined

# title_episode

In [12]:
title_episode = imdb.title_episode_df()

In [13]:
title_episode_pre = title_episode.copy()

# Transform identifiers
title_episode_pre['tconst'] = transform.tconst_to_float(title_episode_pre['tconst'])
title_episode_pre['parentTconst'] = transform.tconst_to_float(title_episode_pre['parentTconst'])

# Remove rows for non-existing titles
title_episode_pre = title_episode_pre[(title_episode_pre['tconst'].isin(title_basics_tconst))]
title_episode_pre = title_episode_pre[title_episode_pre['parentTconst'].isin(title_basics_tconst)]

title_episode_pre.info(memory_usage='deep')
title_episode_pre.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3735207 entries, 0 to 3735227
Data columns (total 4 columns):
tconst           uint32
parentTconst     uint32
seasonNumber     float64
episodeNumber    float64
dtypes: float64(2), uint32(2)
memory usage: 114.0 MB

   tconst  parentTconst  seasonNumber  episodeNumber
0   41951         41038           1.0            9.0
1   42816        989125           1.0           17.0
2   42889        989125           NaN            NaN
3   43426         40051           3.0           42.0
4   43631        989125           2.0           16.0

In [21]:
%%timeit -n 1 -r 1

df_to_mysql(title_episode_pre, 'title_episode')

#save_csv(title_episode_pre, 'title_episode.csv')

TRUNCATE title_episode;
Table title_episode deleted
2min 6s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [22]:
del title_episode
del title_episode_pre
gc.collect()

93

# title_principals

In [11]:
title_principals = imdb.title_principals_df()

In [12]:
title_principals_pre = title_principals.copy()

# Transform identifiers
title_principals_pre['tconst'] = transform.tconst_to_float(title_principals_pre['tconst'])
title_principals_pre['nconst'] = transform.nconst_to_float(title_principals_pre['nconst'])

title_principals_pre['tconst'] = pd.to_numeric(title_principals_pre['tconst'], downcast='unsigned')

# Remove rows for non-existing titles
title_principals_pre = title_principals_pre[title_principals_pre['tconst'].isin(title_basics_tconst)]
title_principals_pre = title_principals_pre[title_principals_pre['nconst'].isin(name_basics_nconst)]

title_principals_pre.info(memory_usage='deep')
title_principals_pre.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31199858 entries, 0 to 31211514
Data columns (total 6 columns):
tconst        uint32
ordering      uint8
nconst        uint32
category      category
job           category
characters    object
dtypes: category(2), object(1), uint32(2), uint8(1)
memory usage: 2.2 GB

,tconst,ordering,nconst,category,job,characters
0,1,1,1588970,self,NaN,"[""Herself""]"
1,1,2,5690,director,NaN,NaN
2,1,3,374658,cinematographer,director of photography,NaN
3,2,1,721526,director,NaN,NaN
4,2,2,1335271,composer,NaN,NaN

In [13]:
%%timeit -n 1 -r 1

df_to_mysql(title_principals_pre, 'title_principals')

#save_csv(title_principals_pre, 'title_principals.csv')

TRUNCATE title_principals;
Table title_principals deleted
49min 5s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [15]:
del title_principals
del title_principals_pre
gc.collect()

3188

# title_ratings

In [23]:
title_ratings = imdb.title_ratings_df()

In [24]:
title_ratings_pre = title_ratings.copy()

# Transform identifiers
title_ratings_pre['tconst'] = transform.tconst_to_float(title_ratings_pre['tconst'])

title_ratings_pre.info(memory_usage='deep')
title_ratings_pre.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897434 entries, 0 to 897433
Data columns (total 3 columns):
tconst           897434 non-null uint32
averageRating    897434 non-null float64
numVotes         897434 non-null int64
dtypes: float64(1), int64(1), uint32(1)
memory usage: 17.1 MB

   tconst  averageRating  numVotes
0       1            5.8      1443
1       2            6.4       174
2       3            6.6      1045
3       4            6.4       104
4       5            6.2      1741

In [25]:
%%timeit -n 1 -r 1

df_to_mysql(title_ratings_pre, 'title_ratings')

#save_csv(title_ratings_pre, 'title_ratings.csv')

TRUNCATE title_ratings;
Table title_ratings deleted
24.7 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [8]:
del title_ratings
del title_ratings_pre
gc.collect()

0